In [31]:
import pandas as pd

In [21]:
d1 = {"a":1, "b":2, "c":3}

In [25]:
d2 = d1.copy()
d2.update((x, y*10) for x, y in d2.items())

d3 = d2.copy()
d3.update((x, y*10) for x, y in d3.items())

In [29]:
ListODicts = [d1, d2, d3]

In [30]:
ListODicts

[{'a': 1, 'b': 2, 'c': 3},
 {'a': 10, 'b': 20, 'c': 30},
 {'a': 100, 'b': 200, 'c': 300}]

In [32]:
pd.DataFrame(ListODicts)

     a    b    c
0    1    2    3
1   10   20   30
2  100  200  300

In [34]:
DictA = {"a":[1,2,3,4],"b":[5,6,7,8],"c": [10,9,8,7]}
DictB = {"a":[100,200,300,4000],"b":[50,60,70,80],"g":[1000,2000,3000,0000]}

In [35]:
FrameA = pd.DataFrame(DictA)
FrameB = pd.DataFrame(DictB)

In [36]:
FrameA

   a  b   c
0  1  5  10
1  2  6   9
2  3  7   8
3  4  8   7

In [37]:
FrameB

      a   b     g
0   100  50  1000
1   200  60  2000
2   300  70  3000
3  4000  80     0

In [47]:
FrameD = FrameA.append(FrameB, ignore_index=True)

In [45]:
for item in d1.values(): print item

1
3
2

In [48]:
FrameD

      a   b     c       g
0     1   5  10.0     NaN
1     2   6   9.0     NaN
2     3   7   8.0     NaN
3     4   8   7.0     NaN
4   100  50   NaN  1000.0
5   200  60   NaN  2000.0
6   300  70   NaN  3000.0
7  4000  80   NaN     0.0

In [49]:
FrameD.dtypes

a      int64
b      int64
c    float64
g    float64
dtype: object