https://www.dataquest.io/blog/python-pandas-databases/

In [17]:
import sqlite3
import pandas as pd

In [18]:
conn = sqlite3.connect('example.db')

In [19]:
c = conn.cursor()

In [20]:
c.execute('''
          CREATE TABLE daily_flights 
          (id INTEGER, departure date, arrival date, number text, route_id INTEGER)
          ''')
conn.commit()

In [21]:
from datetime import datetime
df = pd.DataFrame(
    [[1, datetime(2016, 9, 29, 0, 0) , datetime(2016, 9, 29, 12, 0), 'T1', 1]], 
    columns=["id", "departure", "arrival", "number", "route_id"]
)

In [22]:
df.to_sql("daily_flights", conn, if_exists="replace")

In [23]:
pd.read_sql_query("select * from daily_flights;", conn)

   index  id            departure              arrival number  route_id
0      0   1  2016-09-29 00:00:00  2016-09-29 12:00:00     T1         1