In [1]:
import sqlalchemy
import sqlite3

In [11]:
conn = sqlite3.connect('example.db')

In [3]:
# CREATE DATABASE
c = conn.cursor()
c.execute('''
         CREATE TABLE person
         (id INTEGER PRIMARY KEY ASC, name varchar(250) NOT NULL)
         ''')
c.execute('''
          CREATE TABLE address
          (id INTEGER PRIMARY KEY ASC, street_name varchar(250), street_number varchar(250),
          post_code varchar(250) NOT NULL, person_id INTEGER NOT NULL,
          FOREIGN KEY(person_id) REFERENCES person(id))
          ''')
conn.commit()
conn.close()

OperationalError: table person already exists

In [6]:
# INSERT INTO DATABASE
c.execute('''
          INSERT INTO person VALUES(1, 'pythoncentral')
          ''')
c.execute('''
          INSERT INTO address VALUES(1, 'python road', '1', '00000', 1)
          ''')
conn.commit()
conn.close()

In [14]:
c = conn.cursor()
c.execute('SELECT * FROM person')
print c.fetchall()
c.execute('SELECT * FROM address')
print c.fetchall()

[(1, u'pythoncentral')]
[(1, u'python road', u'1', u'00000', 1)]